<div class="product-tabs">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">Description</li>
    <li class="tab-link" data-tab="tab-2">Reviews</li>
    <li class="tab-link" data-tab="tab-3">Faq</li>
  </ul>
  <div id="tab-1" class="tab-content current">
    {{ product.description }}
  </div>
  <div id="tab-2" class="tab-content">
    <h1>Your Tab Content</h1>
  </div>
  <div id="tab-3" class="tab-content">
      <h1>Your Tab Content</h1>
  </div>
</div>
